<!DOCTYPE html>
@using Insya.Localization.Helpers

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Assets/js/jquery-1.12.1.min.js"></script>
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="~/Locales/?lang=en_US">English</a></li>
            <li role="presentation"><a href="~/Locales/?lang=es_ES">Español</a></li>
            <li role="presentation"><a href="~/Locales/?lang=eu_ES">Euskera</a></li>
        </ul>
        <div class="jumbotron">
            <h1>Tecnipesa SGA - @Html.Localize("homepage")</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
       
    </div> 
       
   

    <script src="~/Assets/js/bootstrap.min.js"></script>

</body>
</html>
